
::placeholder {
    color: grey;
}


.logincontain {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(logback.jpg);
    background-size: cover;
    font-family: "Ubuntu",sans-serif;
}

.login-contain {
    width: 50%;
    margin: 0 auto;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.login-contain > .emty {
    margin: 0 auto;
    width: 50%;
}


.login-form {
    margin: 20px auto;
    width: 100%;
}
.login-form > input {
    width: 80%;
    padding: 8px;
    font-size: larger;
    margin: 20px;
    border: none;
    border-bottom: rgb(58, 54, 54) 1px solid;
    font-family: "Ubuntu",sans-serif;
    color: rgb(39, 38, 38);
}

.radiobutton {
    display: grid;
    grid-template-columns: auto auto;
}


.login-form > input[type=submit] {
    background-color:rgb(163, 31, 175);
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

.login-form > input:focus {
    border-bottom: orchid 1px solid;
}

@media (max-width: 700px) {
    .login-contain {
        width: 80%;
    }
}