.doctor-panel {
    margin:80px auto 0px auto;
    width: 80%;
    box-shadow: 0px 0px 10px rgb(11, 65, 97);
    border-radius: 5px;
    padding: 20px;
}

.requests {
    box-shadow: 0px 0px 5px grey;
    width: 90%;
    padding: 10px;
    margin: 0px auto;
}

.requests > h3 {
    color: rgb(11, 65, 97);
    font-size: larger;
    margin-bottom:10px;
}

.requests > h2 {
    color: grey;
    text-align: center;
    font-size: x-large;
}

.requests > hr{
    border: 1px solid rgb(11, 65, 97);
}

.accepted {
    box-shadow: 0px 0px 5px grey;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
}

.accepted > h3 {
    color: rgb(11, 65, 97);
    font-size: larger;
    margin-bottom:10px;
}

.accepted > h2 {
    color: grey;
    text-align: center;
    padding: 10px;
    font-size: x-large;
}


.doctor-panel > .accepted >  hr {
    border:1px solid rgb(11, 65, 97);
}