.patient-panel {
    margin:80px auto 0px auto;
    width: 80%;
    box-shadow: 0px 0px 10px rgb(11, 65, 97);
    border-radius: 5px;
    padding: 20px;
}

.patrequests {
    box-shadow: 0px 0px 5px grey;
    width: 90%;
    padding: 10px;
    margin: 0px auto;
}

.patrequests > h3 {
    color: slateblue;
    font-size: larger;
    margin-bottom:10px;
}

.patrequests > h2 {
    color: grey;
    text-align: center;
    font-size: x-large;
}

.patrequests > .clear-but {
    border: none;
    padding: 5px;
    background-color: rgb(151, 36, 36);
    margin-top: 30px;
    font-size: large;
    color: whitesmoke;
}